---
http_interactions:
- request:
    method: options
    uri: https://euw1.brightpearlconnect.com/public-api/unimart/contact-service/contact/81011,151499
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - options-contact
      Ruid:
      - 2edd4495-ed0e-41d3-b095-b0bee39c1777
      Brightpearl-Installed-Integration-Instance-Id:
      - '34'
      Brightpearl-Next-Throttle-Period:
      - '34400'
      Brightpearl-Requests-Remaining:
      - '198'
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"getUris":["/contact/81011,151499"]}}'
  recorded_at: Thu, 28 Aug 2025 21:20:25 GMT
recorded_with: VCR 6.3.1
