---
http_interactions:
- request:
    method: get
    uri: https://euw1.brightpearlconnect.com/public-api/unimart/contact-service/contact/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - get-contact
      Ruid:
      - 2907a2f3-2027-4119-a78d-9341d41f00e1
      Brightpearl-Installed-Integration-Instance-Id:
      - '34'
      Brightpearl-Next-Throttle-Period:
      - '2381'
      Brightpearl-Requests-Remaining:
      - '179'
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"code":"CMNC-404","message":"No Contact Found"}]}'
  recorded_at: Thu, 28 Aug 2025 21:12:58 GMT
recorded_with: VCR 6.3.1
