---
http_interactions:
- request:
    method: get
    uri: https://euw1.brightpearlconnect.com/public-api/unimart/contact-service/contact/151499
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - get-contact
      Ruid:
      - b7ef623a-71e1-455c-916f-8f34645df7c6
      Brightpearl-Installed-Integration-Instance-Id:
      - '34'
      Brightpearl-Next-Throttle-Period:
      - '37058'
      Brightpearl-Requests-Remaining:
      - '188'
    body:
      encoding: ASCII-8BIT
      string: '{"response":[{"contactId":151499,"isPrimaryContact":true,"salutation":"","firstName":"john","lastName":"Doe","postAddressIds":{"DEF":418692,"BIL":418692,"DEL":418693},"communication":{"emails":{"PRI":{"email":"test@gmail.com"}},"telephones":{"PRI":"+50685698589"},"messagingVoips":{},"websites":{}},"contactStatus":{"current":{"contactStatusId":0}},"relationshipToAccount":{"isSupplier":false,"isStaff":false},"marketingDetails":{"isReceiveEmailNewsletter":true},"financialDetails":{"priceListId":2,"nominalCode":"0","creditLimit":0,"creditTermDays":0,"currencyId":2,"discountPercentage":0.00,"creditTermTypeId":1},"assignment":{"current":{}},"organisation":{"organisationId":151499},"tradeStatus":"UNKNOWN","createdByid":0,"createdOn":"2025-02-21T10:30:08.000-06:00","updatedOn":"2025-08-28T14:59:22.970-06:00","contactTags":"9","aliases":{},"companyId":0}],"pagination":{"morePagesAvailable":false,"resultsReturned":1,"firstResult":1,"lastResult":1},"sorting":[{"field":"contactId","direction":"ASC"}]}'
  recorded_at: Thu, 28 Aug 2025 20:59:23 GMT
recorded_with: VCR 6.0.0
