---
http_interactions:
- request:
    method: delete
    uri: https://euw1.brightpearlconnect.com/public-api/<DEV-REF>/accounting-service/customer-payment/935253
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - delete-customer-payment
      Ruid:
      - 1eaf9550-c641-457c-bb8a-0d729519cfce
      Brightpearl-Installed-Integration-Instance-Id:
      - '50'
      Brightpearl-Next-Throttle-Period:
      - '50343'
      Brightpearl-Requests-Remaining:
      - '195'
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Fri, 17 Apr 2026 17:32:09 GMT
- request:
    method: get
    uri: https://euw1.brightpearlconnect.com/public-api/<DEV-REF>/accounting-service/customer-payment-search?orderId=1081505
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - bulk-data-search
      Ruid:
      - 713d619f-56ce-47bb-bb0d-b49e984fb249
      Brightpearl-Installed-Integration-Instance-Id:
      - '50'
      Brightpearl-Next-Throttle-Period:
      - '49968'
      Brightpearl-Requests-Remaining:
      - '194'
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"results":[],"metaData":{"morePagesAvailable":false,"resultsAvailable":0,"resultsReturned":0,"columns":[{"name":"paymentId","sortable":true,"filterable":true,"reportDataType":"IDSET","referenceData":[],"isFreeTextSearchable":false,"required":false},{"name":"transactionRef","sortable":false,"filterable":true,"reportDataType":"STRING","referenceData":[],"isFreeTextSearchable":false,"required":false},{"name":"transactionCode","sortable":false,"filterable":true,"reportDataType":"STRING","referenceData":[],"isFreeTextSearchable":false,"required":false},{"name":"paymentMethodCode","sortable":false,"filterable":true,"reportDataType":"STRING","referenceData":[],"isFreeTextSearchable":false,"required":false},{"name":"paymentType","sortable":[...]
