---
http_interactions:
- request:
    method: get
    uri: https://euw1.brightpearlconnect.com/public-api/<ACCOUNT>/order-service/sale/custom-field-meta-data/131
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - get-custom-fields-metadata
      Ruid:
      - fb66f243-65ed-41c3-ada6-e8bcc771cf16
      Brightpearl-Installed-Integration-Instance-Id:
      - '50'
      Brightpearl-Next-Throttle-Period:
      - '51230'
      Brightpearl-Requests-Remaining:
      - '199'
    body:
      encoding: ASCII-8BIT
      string: '{"response":[{"id":131,"code":"PCF_TIPONEG","name":"Tipo de Negocio","customFieldType":"SELECT","required":false,"options":{"160":{"id":160,"value":"Contrato
        Global"},"156":{"id":156,"value":"Negocio Pequeno ($0-$10K)"},"157":{"id":157,"value":"Negocio
        Mediano ($10K-$30K)"},"158":{"id":158,"value":"Negocio Grande ($30K+)"},"159":{"id":159,"value":"Regalos"}}}]}'
  recorded_at: Fri, 08 May 2026 21:24:08 GMT
recorded_with: VCR 6.3.1
