---
http_interactions:
- request:
    method: post
    uri: https://euw1.brightpearlconnect.com/public-api/unimart/integration-service/webhook
    body:
      encoding: UTF-8
      string: '{"subscribeTo":"goods-in-note.created","httpMethod":"POST","uriTemplate":"https://example.com/endpoint/to/receive/webhooks","contentType":"application/json","idSetAccepted":true,"qualityOfService":1,"bodyTemplate":"{
        \"accountCode\": \"${account-code}\", \"resourceType\": \"${resource-type}\",
        \"id\": \"${resource-id}\", \"lifecycleEvent\": \"${lifecycle-event}\", \"fullEvent\":
        \"${full-event}\", \"raisedOn\": \"${raised-on}\", \"brightpearlVersion\":
        \"${brightpearl-version}\" }"}'
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - post-webhook
      Ruid:
      - fcd853f3-0595-47de-883e-b5b22e2b01ad
      Brightpearl-Installed-Integration-Instance-Id:
      - '34'
      Brightpearl-Next-Throttle-Period:
      - '43834'
      Brightpearl-Requests-Remaining:
      - '189'
    body:
      encoding: UTF-8
      string: '{"response":121}'
  recorded_at: Mon, 03 Nov 2025 21:59:16 GMT
- request:
    method: delete
    uri: https://euw1.brightpearlconnect.com/public-api/unimart/integration-service/webhook/121
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - webhook-delete
      Ruid:
      - bbd85909-84e2-4368-9207-e36b9886a8e4
      Brightpearl-Installed-Integration-Instance-Id:
      - '34'
      Brightpearl-Next-Throttle-Period:
      - '43158'
      Brightpearl-Requests-Remaining:
      - '188'
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Mon, 03 Nov 2025 21:59:16 GMT
recorded_with: VCR 6.3.1
