---
http_interactions:
- request:
    method: post
    uri: https://euw1.brightpearlconnect.com/public-api/unimart/integration-service/webhook
    body:
      encoding: UTF-8
      string: '{"subscribeTo":"invalid-resource","httpMethod":"POST","uriTemplate":"https://example.com/endpoint/to/receive/webhooks","contentType":"application/json","idSetAccepted":true,"qualityOfService":1,"bodyTemplate":"{
        \"accountCode\": \"${account-code}\", \"resourceType\": \"${resource-type}\",
        \"id\": \"${resource-id}\", \"lifecycleEvent\": \"${lifecycle-event}\", \"fullEvent\":
        \"${full-event}\", \"raisedOn\": \"${raised-on}\", \"brightpearlVersion\":
        \"${brightpearl-version}\" }"}'
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - post-webhook
      Ruid:
      - 1a8486f9-2c9e-479d-9456-99d8f9ab95c4
      Brightpearl-Installed-Integration-Instance-Id:
      - '34'
      Brightpearl-Next-Throttle-Period:
      - '25026'
      Brightpearl-Requests-Remaining:
      - '66'
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":"INTC-064","message":"invalid-resource either does
        not exist or cannot be subscribed too"}]}'
  recorded_at: Mon, 03 Nov 2025 22:06:35 GMT
recorded_with: VCR 6.3.1
