---
http_interactions:
- request:
    method: post
    uri: https://oauth.brightpearl.com/token/barulu
    body:
      encoding: UTF-8
      string: grant_type=refresh_token&refresh_token=A1iWFfpSuQADO7895Y4eJDv42ZzIDvD0oOhHNIFM0Po%3D&client_id=cliendID
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Charset:
      - utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"NfMW6Sx1koth7YLhmSWT3R1Q7PmT6SnFf6ihkpXw42I=","refresh_token":"A2iWFfpSuQADO7895Y4eJDv42ZzIDvD0oOhHNIFM0Po=","api_domain":"ws-use.brightpearl.com","token_type":"Bearer","expires_in":537227}'
  recorded_at: Wed, 02 Feb 2022 18:15:29 GMT
recorded_with: VCR 6.0.0
