---
http_interactions:
- request:
    method: get
    uri: https://ws-use.brightpearl.com/public-api/barulu/order-service/order/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - api-proxy
      Ruid:
      - cee9443d-a93c-4142-8c51-82c93e0a57ed
      Brightpearl-Next-Throttle-Period:
      - '50704'
      Brightpearl-Requests-Remaining:
      - '197'
    body:
      encoding: UTF-8
      string: '{"response":"Invalid instance token: INVALID_STUFF"}'
  recorded_at: Thu, 27 Jan 2022 22:39:09 GMT
- request:
    method: get
    uri: https://ws-use.brightpearl.com/public-api/barulu/product-service/product/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - api-proxy
      Ruid:
      - 0f982bb2-4d96-4951-95ba-44da12064b60
      Brightpearl-Next-Throttle-Period:
      - '50389'
      Brightpearl-Requests-Remaining:
      - '196'
    body:
      encoding: UTF-8
      string: '{"response":"Invalid instance token: INVALID_STUFF"}'
  recorded_at: Thu, 27 Jan 2022 22:39:09 GMT
recorded_with: VCR 6.0.0
