---
http_interactions:
- request:
    method: get
    uri: https://ws-use.brightpearl.com/public-api/barulu/order-service/order/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - api-proxy
      Ruid:
      - 10152c6f-bf14-4724-abf1-1b412d7e7821
      Brightpearl-Next-Throttle-Period:
      - '51316'
      Brightpearl-Requests-Remaining:
      - '199'
    body:
      encoding: UTF-8
      string: '{"response":"Authorization token expired"}'
  recorded_at: Thu, 27 Jan 2022 22:39:08 GMT
- request:
    method: get
    uri: https://ws-use.brightpearl.com/public-api/barulu/product-service/product/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - api-proxy
      Ruid:
      - b712885a-bd16-41e5-ba2f-71f3b59fd6d5
      Brightpearl-Next-Throttle-Period:
      - '51000'
      Brightpearl-Requests-Remaining:
      - '198'
    body:
      encoding: UTF-8
      string: '{"response":"Authorization token expired"}'
  recorded_at: Thu, 27 Jan 2022 22:39:09 GMT
recorded_with: VCR 6.0.0
