---
http_interactions:
- request:
    method: get
    uri: https://ws-use.brightpearl.com/public-api/<ACCOUNT>/accounting-service/currency-search?code=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - bulk-data-search
      Brightpearl-Next-Throttle-Period:
      - '25000'
      Brightpearl-Requests-Remaining:
      - '199'
    body:
      encoding: UTF-8
      string: '{"response":{"results":[[1,"US Dollar","USD","$","1.000000",true,null]],"metaData":{"morePagesAvailable":false,"resultsAvailable":1,"resultsReturned":1,"firstResult":1,"lastResult":1,"columns":[{"name":"id","sortable":true,"filterable":true,"reportDataType":"IDSET","referenceData":[]},{"name":"title","sortable":true,"filterable":true,"reportDataType":"STRING","referenceData":[]},{"name":"code","sortable":true,"filterable":true,"reportDataType":"STRING","referenceData":[]},{"name":"symbol","sortable":true,"filterable":true,"reportDataType":"STRING","referenceData":[]},{"name":"exchangeRate","sortable":true,"filterable":true,"reportDataType":"STRING","referenceData":[]},{"name":"isDefault","sortable":true,"filterable":true,"reportDataType":"BOOLEAN","referenceData":[]},{"name":"exchangeRateVarianceNominalCode","sortable":true,"filterable":true,"reportDataType":"STRING","referenceData":[]}],"sorting":[{"filterable":{"name":"id","sortable":true,"filterable":true,"reportDataType":"IDSET","referenceData":[]},"direction":"ASC"}]}}}'
  recorded_at: Wed, 25 Jun 2026 00:00:00 GMT
recorded_with: VCR 6.0.0
