---
http_interactions:
- request:
    method: put
    uri: https://ws-use.brightpearl.com/public-api/<ACCOUNT>/accounting-service/currency/2/exchange-rate
    body:
      encoding: UTF-8
      string: '{"rateActiveFrom":"2026-06-25","rate":1.25}'
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - put-exchange-rate
      Brightpearl-Next-Throttle-Period:
      - '25000'
      Brightpearl-Requests-Remaining:
      - '199'
    body:
      encoding: UTF-8
      string: '{"response":1}'
  recorded_at: Wed, 25 Jun 2026 00:00:00 GMT
recorded_with: VCR 6.0.0
