---
http_interactions:
- request:
    method: get
    uri: https://ws-use.brightpearl.com/public-api/barulu/order-service/order/1,320,321
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - get-order
      Ruid:
      - 14377692-fecb-4a57-a53b-b4edf12e6d41
      Brightpearl-Installed-Integration-Instance-Id:
      - '11'
      Brightpearl-Next-Throttle-Period:
      - '36844'
      Brightpearl-Requests-Remaining:
      - '199'
    body:
      encoding: UTF-8
      string: '{"response":[{"id":320,"parentOrderId":1,"orderTypeCode":"SO","reference":"","version":6,"state":{"tax":"READY"},"orderStatus":{"orderStatusId":4,"name":"Invoiced"},"tax":{"errors":[]},"orderPaymentStatus":"NOT_APPLICABLE","stockStatusCode":"SON","allocationStatusCode":"ANA","shippingStatusCode":"SNS","placedOn":"2022-01-26T09:37:37.000-06:00","createdOn":"2022-01-26T09:37:37.000-06:00","updatedOn":"2022-01-26T09:38:12.000-06:00","createdById":433,"priceListId":1,"priceModeCode":"INC","delivery":{"deliveryDate":"2020-03-31T00:00:00.000-06:00","shippingMethodId":0},"invoices":[{"invoiceReference":"","taxDate":"2020-03-31T00:00:00.000-06:00","dueDate":"2020-04-29T18:00:00.000-06:00"}],"currency":{"accountingCurrencyCode":"USD","orderCurrencyCode":"USD","exchangeRate":"1.000000","fixedExchangeRate":false},"totalValue":{"net":"0.00","taxAmount":"0.00","baseNet":"0.00","baseTaxAmount":"0.00","baseTotal":"0.00","total":"0.00"},"assignment":{"current":{"staffOwnerContactId":0,"projectId":0,"channelId":1,"leadSourceId":0,"teamId":0}},"parties":{"customer":{"contactId":200,"addressFullName":"Demo
        Customer","companyName":"Customer Company Ltd.","addressLine1":"34 Lime St","addressLine2":"Barton","addressLine3":"Sheffield","addressLine4":"South
        Yorkshire","postalCode":"S1 4RT","country":"United Kingdom","telephone":"01245
        845632","mobileTelephone":"","fax":"","email":"demo@test.com","countryId":222,"countryIsoCode":"GB","countryIsoCode3":"GBR"},"delivery":{"addressFullName":"Demo
        Customer","companyName":"Customer Company Ltd.","addressLine1":"34 Lime St","addressLine2":"Barton","addressLine3":"Sheffield","addressLine4":"South
        Yorkshire","postalCode":"S1 4RT","country":"United Kingdom","telephone":"01245
        845632","mobileTelephone":"","fax":"","email":"demo@test.com","countryId":222,"countryIsoCode":"GB","countryIsoCode3":"GBR"},"billing":{"contactId":200,"addressFullName":"Demo
        Customer","companyName":"Customer Company Ltd.","addressLine1":"34 Lime St","addressLine2":"Barton","addressLine3":"Sheffield","addressLine4":"South
        Yorkshire","postalCode":"S1 4RT","country":"United Kingdom","telephone":"01245
        845632","mobileTelephone":"","fax":"","email":"demo@test.com","countryId":222,"countryIsoCode":"GB","countryIsoCode3":"GBR"}},"orderRows":{"396":{"orderRowSequence":"10","productId":1569,"productName":"Guanto","productSku":"GUANTO-0","quantity":{"magnitude":"1.0000"},"itemCost":{"currencyCode":"USD","value":"0.0000"},"productPrice":{"currencyCode":"USD","value":"0.0000"},"discountPercentage":"0.00","rowValue":{"taxRate":"13.0000","taxCode":"VAT","taxCalculator":"brightpearl","rowNet":{"currencyCode":"USD","value":"0.0000"},"rowTax":{"currencyCode":"USD","value":"0.00"},"taxClassId":4},"nominalCode":"4000","composition":{"bundleParent":false,"bundleChild":false,"parentOrderRowId":0},"clonedFromId":0}},"warehouseId":2,"acknowledged":0,"costPriceListId":1,"historicalOrder":false,"orderWeighting":100},{"id":1,"parentOrderId":0,"orderTypeCode":"SO","reference":"","version":7,"state":{"tax":"INVOICED"},"orderStatus":{"orderStatusId":4,"name":"Invoiced"},"tax":{"errors":[]},"orderPaymentStatus":"UNPAID","stockStatusCode":"SOA","allocationStatusCode":"AAA","shippingStatusCode":"ASS","placedOn":"2020-03-31T15:02:44.000-06:00","createdOn":"2020-03-31T15:02:44.000-06:00","updatedOn":"2020-03-31T15:57:21.000-06:00","closedOn":"2020-03-31T15:57:20.000-06:00","createdById":206,"priceListId":1,"priceModeCode":"INC","delivery":{"shippingMethodId":0},"invoices":[{"invoiceReference":"SI-1001","taxDate":"2020-03-31T00:00:00.000-06:00","dueDate":"2020-04-29T18:00:00.000-06:00"}],"currency":{"accountingCurrencyCode":"USD","orderCurrencyCode":"USD","exchangeRate":"1.000000","fixedExchangeRate":false},"totalValue":{"net":"9.09","taxAmount":"0.91","baseNet":"9.09","baseTaxAmount":"0.91","baseTotal":"10.00","total":"10.00"},"assi[...]
