---
http_interactions:
- request:
    method: post
    uri: https://ws-use.brightpearl.com/public-api/barulu/order-service/order
    body:
      encoding: UTF-8
      string: '{"reference":"#0001","orderTypeCode":"SO","parties":{"customer":{"contactId":200}}}'
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - post-order
      Ruid:
      - 6541861f-84f3-4bac-889e-7fc5a5f43c29
      Brightpearl-Installed-Integration-Instance-Id:
      - '11'
      Brightpearl-Next-Throttle-Period:
      - '18293'
      Brightpearl-Requests-Remaining:
      - '199'
    body:
      encoding: UTF-8
      string: '{"response":330}'
  recorded_at: Wed, 26 Jan 2022 22:39:42 GMT
- request:
    method: patch
    uri: https://ws-use.brightpearl.com/public-api/barulu/order-service/order/330
    body:
      encoding: UTF-8
      string: '[{"op":"add","path":"/reference","value":"#XYZ"}]'
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - patch-order
      Ruid:
      - e66c4a45-f193-4d68-b832-2296bbdadb44
      Brightpearl-Installed-Integration-Instance-Id:
      - '11'
      Brightpearl-Next-Throttle-Period:
      - '17667'
      Brightpearl-Requests-Remaining:
      - '198'
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":"CMNC-044","message":"Invalid patch operation (add)
        for given path (/reference)"}]}'
  recorded_at: Wed, 26 Jan 2022 22:39:42 GMT
recorded_with: VCR 6.0.0
