---
http_interactions:
- request:
    method: get
    uri: https://ws-use.brightpearl.com/public-api/barulu/order-service/order/999
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - get-order
      Ruid:
      - 00e00f8b-d632-4cd7-95a5-33a250a108f3
      Brightpearl-Installed-Integration-Instance-Id:
      - '11'
      Brightpearl-Next-Throttle-Period:
      - '58151'
      Brightpearl-Requests-Remaining:
      - '199'
    body:
      encoding: UTF-8
      string: '{"response":[]}'
  recorded_at: Wed, 26 Jan 2022 15:50:01 GMT
recorded_with: VCR 6.0.0
