---
http_interactions:
- request:
    method: post
    uri: https://ws-use.brightpearl.com/public-api/barulu/order-service/order
    body:
      encoding: UTF-8
      string: '{"reference":"#0001","orderTypeCode":"SO","parties":{"customer":{"contactId":200}}}'
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - post-order
      Ruid:
      - 898293bf-20d1-4920-b801-e7ae24e139ee
      Brightpearl-Installed-Integration-Instance-Id:
      - '11'
      Brightpearl-Next-Throttle-Period:
      - '39236'
      Brightpearl-Requests-Remaining:
      - '199'
    body:
      encoding: UTF-8
      string: '{"response":336}'
  recorded_at: Wed, 26 Jan 2022 23:47:21 GMT
- request:
    method: post
    uri: https://ws-use.brightpearl.com/public-api/barulu/order-service/order/336/row
    body:
      encoding: UTF-8
      string: '{"productName":"Brightpearl Product","quantity":{"magnitude":5},"rowValue":{"taxCode":"13","rowNet":{"value":100},"rowTax":{"value":13}}}'
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - post-order-row
      Ruid:
      - 4f573a15-e685-4f63-a89f-5b3324ebdbb7
      Brightpearl-Installed-Integration-Instance-Id:
      - '11'
      Brightpearl-Next-Throttle-Period:
      - '38636'
      Brightpearl-Requests-Remaining:
      - '198'
    body:
      encoding: UTF-8
      string: '{"response":402}'
  recorded_at: Wed, 26 Jan 2022 23:47:21 GMT
- request:
    method: delete
    uri: https://ws-use.brightpearl.com/public-api/barulu/order-service/order/336/row/402
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - delete-order-row
      Ruid:
      - 6f444278-65a8-4746-b9fa-17dda94fcf51
      Brightpearl-Installed-Integration-Instance-Id:
      - '11'
      Brightpearl-Next-Throttle-Period:
      - '38137'
      Brightpearl-Requests-Remaining:
      - '197'
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Wed, 26 Jan 2022 23:47:22 GMT
recorded_with: VCR 6.0.0
