---
http_interactions:
- request:
    method: post
    uri: https://ws-use.brightpearl.com/public-api/barulu/order-service/order-status
    body:
      encoding: UTF-8
      string: '{"name":"TEST Status","orderTypeCode":"SO","color":"#60a0ff"}'
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - post-order-status
      Ruid:
      - b11a364a-3748-4007-9914-faab0a9c2edf
      Brightpearl-Installed-Integration-Instance-Id:
      - '11'
      Brightpearl-Next-Throttle-Period:
      - '11241'
      Brightpearl-Requests-Remaining:
      - '198'
    body:
      encoding: UTF-8
      string: '{"response":25}'
  recorded_at: Fri, 28 Jan 2022 16:52:48 GMT
recorded_with: VCR 6.0.0
