---
http_interactions:
- request:
    method: options
    uri: https://ws-use.brightpearl.com/public-api/barulu/order-service/order/1-100,320,321
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - options-order
      Ruid:
      - 40bb5323-254d-4c8f-ab18-94a0358e5e55
      Brightpearl-Installed-Integration-Instance-Id:
      - '11'
      Brightpearl-Next-Throttle-Period:
      - '56445'
      Brightpearl-Requests-Remaining:
      - '199'
    body:
      encoding: UTF-8
      string: '{"response":{"getUris":["/order/1-2,5,8,10-41,43-44,46-100,320-321"]}}'
  recorded_at: Wed, 26 Jan 2022 22:55:03 GMT
recorded_with: VCR 6.0.0
