---
http_interactions:
- request:
    method: post
    uri: https://ws-use.brightpearl.com/public-api/barulu/order-service/order
    body:
      encoding: UTF-8
      string: '{"reference":"#0001","orderTypeCode":"PO","parties":{"supplier":{"contactId":418}}}'
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - post-order
      Ruid:
      - fb9d8919-0509-4880-9fa9-b82665e691c1
      Brightpearl-Installed-Integration-Instance-Id:
      - '11'
      Brightpearl-Next-Throttle-Period:
      - '29260'
      Brightpearl-Requests-Remaining:
      - '199'
    body:
      encoding: UTF-8
      string: '{"response":323}'
  recorded_at: Wed, 26 Jan 2022 16:46:31 GMT
recorded_with: VCR 6.0.0
