---
http_interactions:
- request:
    method: post
    uri: https://ws-use.brightpearl.com/public-api/barulu/order-service/order
    body:
      encoding: UTF-8
      string: '{"reference":"#0001","orderTypeCode":"UK","parties":{"customer":{"contactId":200}}}'
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - post-order
      Ruid:
      - f4cc94b0-c764-4792-b8ed-e89b9d851008
      Brightpearl-Installed-Integration-Instance-Id:
      - '11'
      Brightpearl-Next-Throttle-Period:
      - '55546'
      Brightpearl-Requests-Remaining:
      - '199'
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":"ORDC-006","message":"You have supplied an invalid
        order type code"}]}'
  recorded_at: Wed, 26 Jan 2022 16:53:04 GMT
recorded_with: VCR 6.0.0
