---
http_interactions:
- request:
    method: get
    uri: https://ws-use.brightpearl.com/public-api/<ACCOUNT>/order-service/order-stock-status/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - get-order-stock-status
      Brightpearl-Next-Throttle-Period:
      - '25000'
      Brightpearl-Requests-Remaining:
      - '199'
    body:
      encoding: UTF-8
      string: '{"response":[{"id":1,"name":"None"},{"id":2,"name":"Partial"},{"id":3,"name":"All"}]}'
  recorded_at: Tue, 03 Jun 2026 00:00:00 GMT
recorded_with: VCR 6.0.0
