---
http_interactions:
- request:
    method: post
    uri: https://ws-use.brightpearl.com/public-api/barulu/order-service/order
    body:
      encoding: UTF-8
      string: '{"reference":"#0001","orderTypeCode":"SO","parties":{"customer":{"contactId":200}}}'
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - post-order
      Ruid:
      - 79048150-a976-42a6-8342-0cc5aeb55367
      Brightpearl-Installed-Integration-Instance-Id:
      - '11'
      Brightpearl-Next-Throttle-Period:
      - '52639'
      Brightpearl-Requests-Remaining:
      - '199'
    body:
      encoding: UTF-8
      string: '{"response":339}'
  recorded_at: Fri, 28 Jan 2022 17:08:08 GMT
- request:
    method: put
    uri: https://ws-use.brightpearl.com/public-api/barulu/order-service/order/339/status
    body:
      encoding: UTF-8
      string: '{"orderStatusId":2}'
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - put-order-status
      Ruid:
      - af383227-7cc4-4161-a13a-dcaeb2998d8e
      Brightpearl-Installed-Integration-Instance-Id:
      - '11'
      Brightpearl-Next-Throttle-Period:
      - '51744'
      Brightpearl-Requests-Remaining:
      - '198'
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Fri, 28 Jan 2022 17:08:08 GMT
recorded_with: VCR 6.0.0
