---
http_interactions:
- request:
    method: get
    uri: https://ws-use.brightpearl.com/public-api/barulu/order-service/order-shipping-status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - get-order-shipping-status
      Ruid:
      - ff73a508-ec4f-40ca-acb5-384aa4522e74
      Brightpearl-Installed-Integration-Instance-Id:
      - '11'
      Brightpearl-Next-Throttle-Period:
      - '13475'
      Brightpearl-Requests-Remaining:
      - '199'
    body:
      encoding: UTF-8
      string: '{"response":[{"id":1,"code":"NST","description":"No stock tracked products
        on order"},{"id":2,"code":"SNS","description":"Stock not shipped"},{"id":3,"code":"SPS","description":"Stock
        part shipped"},{"id":4,"code":"ASS","description":"All stock shipped"}]}'
  recorded_at: Thu, 27 Jan 2022 23:20:46 GMT
recorded_with: VCR 6.0.0
