---
http_interactions:
- request:
    method: get
    uri: https://ws-use.brightpearl.com/public-api/barulu/order-service/order-status/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - get-order-status
      Ruid:
      - 5fba2ecc-5566-45e3-a0b2-2f6dec654d1d
      Brightpearl-Installed-Integration-Instance-Id:
      - '11'
      Brightpearl-Next-Throttle-Period:
      - '26068'
      Brightpearl-Requests-Remaining:
      - '199'
    body:
      encoding: UTF-8
      string: '{"response":[{"statusId":1,"name":"Draft / Quote","orderTypeCode":"SO","sortOrder":0,"disabled":false,"visible":false,"color":"#E7E6E4","remindAfterDays":10,"alertEmails":[],"emailContent":"","batchProcess":false,"state":"draft"}]}'
  recorded_at: Thu, 27 Jan 2022 23:27:34 GMT
recorded_with: VCR 6.0.0
