---
http_interactions:
- request:
    method: get
    uri: https://ws-use.brightpearl.com/public-api/barulu/order-service/order-search?customerRef=%230001
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - bulk-data-search
      Ruid:
      - 26ca92c0-82ab-403e-ab9b-aad32f34bfa4
      Brightpearl-Installed-Integration-Instance-Id:
      - '11'
      Brightpearl-Next-Throttle-Period:
      - '56946'
      Brightpearl-Requests-Remaining:
      - '199'
    body:
      encoding: UTF-8
      string: '{"response":{"results":[[322,1,200,3,13,"2022-01-26T10:39:46.000-06:00",4,"#0001",5,null,0,1,null,null,2,0,"2022-01-25T18:00:00.000-06:00",0,null],[323,2,418,6,13,"2022-01-26T10:46:30.000-06:00",4,"#0001",5,null,0,1,null,null,2,0,"2022-01-25T18:00:00.000-06:00",0,"2022-02-02T10:46:31.000-06:00"],[324,3,200,10,13,"2022-01-26T10:48:12.000-06:00",4,"#0001",5,null,0,1,null,null,2,0,"2022-01-25T18:00:00.000-06:00",0,null],[325,4,418,12,13,"2022-01-26T10:50:16.000-06:00",4,"#0001",5,null,0,1,null,null,2,0,"2022-01-25T18:00:00.000-06:00",0,null]],"metaData":{"morePagesAvailable":false,"resultsAvailable":4,"resultsReturned":4,"firstResult":1,"lastResult":4,"columns":[{"name":"orderId","sortable":true,"filterable":true,"reportDataType":"IDSET","referenceData":[],"isFreeTextSearchable":false,"required":false},{"name":"orderTypeId","sortable":true,"filterable":true,"reportDataType":"IDSET","referenceData":["orderTypeNames"],"isFreeTextSearchable":false,"required":false},{"name":"contactId","sortable":true,"filterable":true,"reportDataType":"INTEGER","referenceData":[],"isFreeTextSearchable":false,"required":false},{"name":"orderStatusId","sortable":true,"filterable":true,"reportDataType":"INTEGER","referenceData":["orderStatusNames"],"isFreeTextSearchable":false,"required":false},{"name":"order[...]
