---
http_interactions:
- request:
    method: get
    uri: https://ws-use.brightpearl.com/public-api/barulu/order-service/order/312
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - get-order
      Ruid:
      - 8a012114-5fa5-4286-8b6c-673bf72c8db5
      Brightpearl-Installed-Integration-Instance-Id:
      - '11'
      Brightpearl-Next-Throttle-Period:
      - '19838'
      Brightpearl-Requests-Remaining:
      - '199'
    body:
      encoding: UTF-8
      string: '{"response":[{"id":312,"parentOrderId":0,"orderTypeCode":"PO","reference":"#T75","version":11,"state":{"tax":"READY"},"orderStatus":{"orderStatusId":6,"name":"Pending
        PO"},"tax":{"errors":[]},"orderPaymentStatus":"UNPAID","stockStatusCode":"PON","allocationStatusCode":"ANR","shippingStatusCode":"SNS","placedOn":"2021-08-18T15:11:45.000-06:00","createdOn":"2021-08-18T15:11:44.000-06:00","updatedOn":"2021-08-19T11:20:55.000-06:00","createdById":4,"priceListId":1,"priceModeCode":"EXC","delivery":{"deliveryDate":"2021-08-31T00:00:00.000-06:00","shippingMethodId":0},"invoices":[{"invoiceReference":"","taxDate":"2021-08-18T00:00:00.000-06:00","dueDate":"2021-08-17T18:00:00.000-06:00"}],"currency":{"accountingCurrencyCode":"USD","orderCurrencyCode":"USD","exchangeRate":"1.000000","fixedExchangeRate":true},"totalValue":{"net":"900.00","taxAmount":"117.00","baseNet":"900.00","baseTaxAmount":"117.00","baseTotal":"1017.00","total":"1017.00"},"assignment":{"current":{"staffOwnerContactId":0,"projectId":0,"channelId":0,"leadSourceId":0,"teamId":0}},"parties":{"supplier":{"contactId":418,"addressFullName":"Hori
        Seller","companyName":"Test Seller Hori","addressLine1":"Some super address","addressLine2":"","addressLine3":"","addressLine4":"","postalCode":"","telephone":"888889","mobileTelephone":"","fax":"","email":"hori@seller.com","countryId":0},"delivery":{"addressFullName":"Barulu","companyName":"Barulu","addressLine1":"","addressLine2":"","addressLine3":"","addressLine4":"","postalCode":"","country":"Costa
        Rica","telephone":"","mobileTelephone":"","fax":"","email":"","countryId":282,"countryIsoCode":"CR","countryIsoCode3":"CRI"},"billing":{"contactId":418,"addressFullName":"Barulu","companyName":"Barulu","addressLine1":"","addressLine2":"","addressLine3":"","addressLine4":"","postalCode":"","country":"Costa
        Rica","telephone":"","mobileTelephone":"","fax":"","email":"","countryId":282,"countryIsoCode":"CR","countryIsoCode3":"CRI"}},"orderRows":{"378":{"orderRowSequence":"10","productId":1569,"productName":"Guanto","productSku":"GUANTO-0","quantity":{"magnitude":"4.0000"},"itemCost":{"currencyCode":"USD","value":"100.0000"},"productPrice":{"currencyCode":"USD","value":"0.0000"},"discountPercentage":"0.00","rowValue":{"taxRate":"13.0000","taxCode":"13","taxCalculator":"brightpearl","rowNet":{"currencyCode":"USD","value":"400.0000"},"rowTax":{"currencyCode":"USD","value":"52.00"},"taxClassId":9},"nominalCode":"1201","composition":{"bundleParent":false,"bundleChild":false,"parentOrderRowId":0},"clonedFromId":0},"380":{"orderRowSequence":"30","productId":1577,"productName":"Gloves
        of power V2 X","productSku":"GUANTO-SUPER2","quantity":{"magnitude":"5.0000"},"itemCost":{"currencyCode":"USD","value":"100.0000"},"productPrice":{"currencyCode":"USD","value":"0.0000"},"discountPercentage":"0.00","rowValue":{"taxRate":"13.0000","taxCode":"13","taxCalculator":"brightpearl","rowNet":{"currencyCode":"USD","value":"500.0000"},"rowTax":{"currencyCode":"USD","value":"65.00"},"taxClassId":9},"nominalCode":"1201","composition":{"bundleParent":false,"bundleChild":false,"parentOrderRowId":0},"clonedFromId":0}},"warehouseId":2,"acknowledged":0,"costPriceListId":0,"historicalOrder":false,"isDropship":false,"orderWeighting":100}]}'
  recorded_at: Wed, 26 Jan 2022 15:46:40 GMT
recorded_with: VCR 6.0.0
