---
http_interactions:
- request:
    method: post
    uri: https://ws-use.brightpearl.com/public-api/barulu/order-service/order
    body:
      encoding: UTF-8
      string: '{"reference":"#0001","orderTypeCode":"SO","parties":{"customer":{"contactId":200}}}'
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - post-order
      Ruid:
      - 7e5d0948-4335-4ec7-98a2-e8acd8d5d607
      Brightpearl-Installed-Integration-Instance-Id:
      - '11'
      Brightpearl-Next-Throttle-Period:
      - '19979'
      Brightpearl-Requests-Remaining:
      - '199'
    body:
      encoding: UTF-8
      string: '{"response":333}'
  recorded_at: Wed, 26 Jan 2022 23:44:40 GMT
- request:
    method: post
    uri: https://ws-use.brightpearl.com/public-api/barulu/order-service/order/333/row
    body:
      encoding: UTF-8
      string: '{"productName":"Brightpearl Product","quantity":{"magnitude":5},"rowValue":{"taxCode":"13","rowNet":{"value":100},"rowTax":{"value":13}}}'
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - post-order-row
      Ruid:
      - 8ec704ac-882d-4c8d-9a17-68bd13c63ed1
      Brightpearl-Installed-Integration-Instance-Id:
      - '11'
      Brightpearl-Next-Throttle-Period:
      - '19399'
      Brightpearl-Requests-Remaining:
      - '198'
    body:
      encoding: UTF-8
      string: '{"response":399}'
  recorded_at: Wed, 26 Jan 2022 23:44:40 GMT
- request:
    method: patch
    uri: https://ws-use.brightpearl.com/public-api/barulu/order-service/order/333/row/399
    body:
      encoding: UTF-8
      string: '[{"op":"replace","path":"/rowValue/rowNet/value","value":200}]'
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - patch-order-row
      Ruid:
      - 48789116-280a-42b1-96f4-01a9bf8f1433
      Brightpearl-Installed-Integration-Instance-Id:
      - '11'
      Brightpearl-Next-Throttle-Period:
      - '18924'
      Brightpearl-Requests-Remaining:
      - '197'
    body:
      encoding: UTF-8
      string: '{"response":{"orderRowSequence":"10","productId":1000,"productName":"Brightpearl
        Product","quantity":{"magnitude":"5.0000"},"itemCost":{"currencyCode":"USD","value":"0.0000"},"productPrice":{"currencyCode":"USD","value":"0.0000"},"discountPercentage":"0.00","rowValue":{"taxRate":"13.0000","taxCode":"13","taxCalculator":"brightpearl","rowNet":{"currencyCode":"USD","value":"200.0000"},"rowTax":{"currencyCode":"USD","value":"26.00"},"taxClassId":9},"nominalCode":"4000","composition":{"bundleParent":false,"bundleChild":false,"parentOrderRowId":0},"clonedFromId":0}}'
  recorded_at: Wed, 26 Jan 2022 23:44:41 GMT
recorded_with: VCR 6.0.0
