---
http_interactions:
- request:
    method: post
    uri: https://ws-use.brightpearl.com/public-api/barulu/order-service/order
    body:
      encoding: UTF-8
      string: '{"reference":"#0001","orderTypeCode":"SO","parties":{"customer":{"contactId":200}}}'
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - post-order
      Ruid:
      - 140dbf03-0d71-43dd-a99c-ceb91492c8ee
      Brightpearl-Installed-Integration-Instance-Id:
      - '11'
      Brightpearl-Next-Throttle-Period:
      - '50817'
      Brightpearl-Requests-Remaining:
      - '199'
    body:
      encoding: UTF-8
      string: '{"response":329}'
  recorded_at: Wed, 26 Jan 2022 22:34:09 GMT
- request:
    method: patch
    uri: https://ws-use.brightpearl.com/public-api/barulu/order-service/order/329
    body:
      encoding: UTF-8
      string: '[{"op":"replace","path":"/delivery/deliveryDate","value":"2022-01-20"},{"op":"replace","path":"/reference","value":"#XYZ"}]'
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - patch-order
      Ruid:
      - 5bd8a5fd-77f2-44cc-8959-d48178cca110
      Brightpearl-Installed-Integration-Instance-Id:
      - '11'
      Brightpearl-Next-Throttle-Period:
      - '50255'
      Brightpearl-Requests-Remaining:
      - '198'
    body:
      encoding: UTF-8
      string: '{"response":{"id":329,"parentOrderId":0,"orderTypeCode":"SO","reference":"#XYZ","version":1,"state":{"tax":"READY"},"orderStatus":{"orderStatusId":3,"name":"New
        phone order"},"tax":{"errors":[]},"orderPaymentStatus":"NOT_APPLICABLE","stockStatusCode":"NON","allocationStatusCode":"ANR","shippingStatusCode":"NST","placedOn":"2022-01-26T16:34:09.000-06:00","createdOn":"2022-01-26T16:34:09.000-06:00","createdById":4,"priceListId":1,"priceModeCode":"EXC","delivery":{"deliveryDate":"2022-01-19T18:00:00.000-06:00","shippingMethodId":0},"invoices":[{"invoiceReference":""}],"currency":{"accountingCurrencyCode":"USD","orderCurrencyCode":"USD","exchangeRate":"1.000000","fixedExchangeRate":true},"totalValue":{"net":"0.00","taxAmount":"0.00","baseNet":"0.00","baseTaxAmount":"0.00","baseTotal":"0.00","total":"0.00"},"assignment":{"current":{"staffOwnerContactId":0,"projectId":0,"channelId":0,"leadSourceId":0,"teamId":0}},"parties":{"customer":{"contactId":200,"addressFullName":"Demo
        Customer","companyName":"Customer Company Ltd.","addressLine1":"34 Lime St","addressLine2":"Barton","addressLine3":"Sheffield","addressLine4":"South
        Yorkshire","postalCode":"S1 4RT","country":"United Kingdom","telephone":"01245
        845632","mobileTelephone":"","fax":"","email":"demo@test.com","countryId":222,"countryIsoCode":"GB","countryIsoCode3":"GBR"},"delivery":{"addressFullName":"Demo
        Customer","companyName":"Customer Company Ltd.","addressLine1":"34 Lime St","addressLine2":"Barton","addressLine3":"Sheffield","addressLine4":"South
        Yorkshire","postalCode":"S1 4RT","country":"United Kingdom","telephone":"01245
        845632","mobileTelephone":"","fax":"","email":"demo@test.com","countryId":222,"countryIsoCode":"GB","countryIsoCode3":"GBR"},"billing":{"contactId":200,"addressFullName":"Demo
        Customer","companyName":"Customer Company Ltd.","addressLine1":"34 Lime St","addressLine2":"Barton","addressLine3":"Sheffield","addressLine4":"South
        Yorkshire","postalCode":"S1 4RT","country":"United Kingdom","telephone":"01245
        845632","mobileTelephone":"","fax":"","email":"demo@test.com","countryId":222,"countryIsoCode":"GB","countryIsoCode3":"GBR"}},"orderRows":{},"warehouseId":2,"acknowledged":0,"costPriceListId":0,"historicalOrder":false,"isDropship":false,"orderWeighting":100}}'
  recorded_at: Wed, 26 Jan 2022 22:34:09 GMT
recorded_with: VCR 6.0.0
