---
http_interactions:
- request:
    method: post
    uri: https://ws-use.brightpearl.com/public-api/barulu/product-service/product
    body:
      encoding: UTF-8
      string: '{"brandId":74,"financialDetails":{"taxable":true,"taxCode":{"id":2,"code":"T"}},"salesChannels":[{"salesChannelName":"Brightpearl","productName":"Test
        Product","categories":[{"categoryCode":296}]}]}'
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - post-product
      Ruid:
      - efce70c2-343d-45ed-a085-e959d157cae9
      Brightpearl-Installed-Integration-Instance-Id:
      - '11'
      Brightpearl-Next-Throttle-Period:
      - '24081'
      Brightpearl-Requests-Remaining:
      - '199'
    body:
      encoding: UTF-8
      string: '{"response":1579}'
  recorded_at: Thu, 27 Jan 2022 21:58:36 GMT
recorded_with: VCR 6.0.0
