---
http_interactions:
- request:
    method: get
    uri: https://ws-use.brightpearl.com/public-api/barulu/warehouse-service/product-availability/1007,1532
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - get-product-availability
      Ruid:
      - 6c2eef16-66cd-42f2-9101-1c26e1ab32f3
      Brightpearl-Installed-Integration-Instance-Id:
      - '11'
      Brightpearl-Next-Throttle-Period:
      - '7365'
      Brightpearl-Requests-Remaining:
      - '198'
    body:
      encoding: UTF-8
      string: '{"response":{"1532":{"total":{"inStock":60,"onHand":48,"allocated":12,"inTransit":0},"warehouses":{"2":{"inStock":60,"onHand":48,"allocated":12,"inTransit":0}}},"1007":{"total":{"inStock":4,"onHand":4,"allocated":0,"inTransit":0},"warehouses":{"2":{"inStock":4,"onHand":4,"allocated":0,"inTransit":0}}}}}'
  recorded_at: Fri, 04 Feb 2022 02:58:52 GMT
recorded_with: VCR 6.0.0
