---
http_interactions:
- request:
    method: put
    uri: https://ws-use.brightpearl.com/public-api/barulu/product-service/product-price/1007/price-list
    body:
      encoding: UTF-8
      string: '{"priceLists":[{"priceListId":1,"quantityPrice":{"1":100,"5":450}}]}'
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - put-product-price
      Ruid:
      - 182e3b73-6236-4fa9-8408-917a461c9a3d
      Brightpearl-Installed-Integration-Instance-Id:
      - '11'
      Brightpearl-Next-Throttle-Period:
      - '55610'
      Brightpearl-Requests-Remaining:
      - '199'
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Fri, 28 Jan 2022 21:49:04 GMT
recorded_with: VCR 6.0.0
