---
http_interactions:
- request:
    method: get
    uri: https://ws-use.brightpearl.com/public-api/barulu/product-service/product-search?productId=BAD%20PARAM
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - bulk-data-search
      Ruid:
      - 4621526d-aa01-471c-8db1-feb2d5b5fb19
      Brightpearl-Installed-Integration-Instance-Id:
      - '11'
      Brightpearl-Next-Throttle-Period:
      - '30584'
      Brightpearl-Requests-Remaining:
      - '199'
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":"CMNC-018","message":"The filter productId\u003dBAD
        PARAM cannot be parsed as: IDSET"}]}'
  recorded_at: Thu, 27 Jan 2022 22:03:29 GMT
recorded_with: VCR 6.0.0
