---
http_interactions:
- request:
    method: get
    uri: https://ws-use.brightpearl.com/public-api/barulu/product-service/product/1007,1532,1569
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - product-get
      Ruid:
      - 404aea12-2b15-47b6-8494-ccd1362b0a84
      Brightpearl-Installed-Integration-Instance-Id:
      - '11'
      Brightpearl-Next-Throttle-Period:
      - '53312'
      Brightpearl-Requests-Remaining:
      - '198'
    body:
      encoding: UTF-8
      string: '{"response":[{"id":1007,"brandId":74,"productTypeId":1,"identity":{"sku":"TEST001","barcode":""},"featured":false,"stock":{"stockTracked":true,"weight":{"magnitude":0.0000},"dimensions":{"length":0.00,"height":0.00,"width":0.00,"volume":0.00}},"financialDetails":{"taxable":false,"taxCode":{"id":2,"code":"T"}},"salesChannels":[{"salesChannelName":"Brightpearl","productName":"Nice
        Shirt for Summer","productCondition":"new","categories":[{"categoryCode":"296"}],"description":{"languageCode":"en","text":"","format":"HTML_FRAGMENT"},"shortDescription":{"languageCode":"en","text":"","format":"HTML_FRAGMENT"}}],"composition":{"bundle":false},"createdOn":"2020-03-31T14:58:29.000-06:00","updatedOn":"2020-07-06T01:48:36.000-06:00","warehouses":{"2":{"defaultLocationId":0,"overflowLocationId":0,"reorderLevel":0,"reorderQuantity":0},"3":{"defaultLocationId":0,"overflowLocationId":0,"reorderLevel":0,"reorderQuantity":0}},"nominalCodeStock":"1001","nominalCodePurchases":"5000","nominalCodeSales":"4000","seasonIds":[],"reporting":{},"status":"LIVE","salesPopupMessage":"","warehousePopupMessage":"","version":1594021716000},{"id":1532,"brandId":83,"productTypeId":1,"identity":{"sku":"GUANTO-1","barcode":""},"productGroupId":212,"featured":false,"stock":{"stockTracked":true,"weight":{"magnitude":0.0000},"dimensions":{"length":0.00,"height":0.00,"width":0.00,"volume":0.00}},"financialDetails":{"taxable":false,"taxCode":{"id":4,"code":"VAT"}},"salesChannels":[{"salesChannelName":"Brightpearl","productName":"Test
        seller gloves","productCondition":"new","categories":[{"categoryCode":"299"}],"description":{"languageCode":"en","text":"","format":"HTML_FRAGMENT"},"shortDescription":{"languageCode":"en","text":"","format":"HTML_FRAGMENT"}}],"composition":{"bundle":false},"createdOn":"2020-06-01T17:42:40.000-06:00","updatedOn":"2021-08-18T15:11:46.000-06:00","warehouses":{"2":{"defaultLocationId":0,"overflowLocationId":0,"reorderLevel":0,"reorderQuantity":0},"3":{"defaultLocationId":0,"overflowLocationId":0,"reorderLevel":0,"reorderQuantity":0}},"nominalCodeStock":"1201","nominalCodePurchases":"5000","nominalCodeSales":"4000","seasonIds":[],"reporting":{},"status":"LIVE","salesPopupMessage":"","warehousePopupMessage":"","version":1629321106000},{"id":1569,"brandId":83,"productTypeId":1,"identity":{"sku":"GUANTO-0","isbn":"","ean":"","upc":"","mpn":"","barcode":""},"productGroupId":213,"featured":false,"stock":{"stockTracked":true,"weight":{"magnitude":0.0000},"dimensions":{"length":0.00,"height":0.00,"width":0.00,"volume":0.00}},"financialDetails":{"taxable":false,"taxCode":{"id":4,"code":"VAT"}},"salesChannels":[{"salesChannelName":"Brightpearl","productName":"Guanto","productCondition":"new","categories":[{"categoryCode":"299"},{"categoryCode":"302"}],"description":{"languageCode":"en","text":"","format":"HTML_FRAGMENT"},"shortDescription":{"languageCode":"en","text":"","format":"HTML_FRAGMENT"}}],"composition":{"bundle":false},"createdOn":"2020-11-05T16:57:08.000-06:00","updatedOn":"2020-11-23T17:53:01.000-06:00","warehouses":{"2":{"defaultLocationId":0,"overflowLocationId":0,"reorderLevel":0,"reorderQuantity":0},"3":{"defaultLocationId":0,"overflowLocationId":0,"reorderLevel":0,"reorderQuantity":0}},"nominalCodeStock":"1201","nominalCodePurchases":"5000","nominalCodeSales":"4000","seasonIds":[],"reporting":{},"status":"LIVE","salesPopupMessage":"","warehousePopupMessage":"","version":1606175581000}]}'
  recorded_at: Thu, 27 Jan 2022 21:48:06 GMT
recorded_with: VCR 6.0.0
