---
http_interactions:
- request:
    method: post
    uri: https://ws-use.brightpearl.com/public-api/barulu/product-service/product
    body:
      encoding: UTF-8
      string: '{"brandId":null,"financialDetails":{"taxable":true,"taxCode":{"id":2,"code":"T"}},"salesChannels":[{"salesChannelName":"Brightpearl","productName":"Test
        Product","categories":[{"categoryCode":296}]}]}'
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - post-product
      Ruid:
      - 137bf03d-748a-4f80-a8fb-d30bc744a3c4
      Brightpearl-Installed-Integration-Instance-Id:
      - '11'
      Brightpearl-Next-Throttle-Period:
      - '23704'
      Brightpearl-Requests-Remaining:
      - '198'
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":"PRDC-014","message":"You must supply a brand ID."}]}'
  recorded_at: Thu, 27 Jan 2022 21:58:36 GMT
recorded_with: VCR 6.0.0
