---
http_interactions:
- request:
    method: get
    uri: https://ws-use.brightpearl.com/public-api/barulu/product-service/product-price/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - get-product-price
      Ruid:
      - 1aebb42f-066b-4442-a3a0-ff0392f32669
      Brightpearl-Installed-Integration-Instance-Id:
      - '11'
      Brightpearl-Next-Throttle-Period:
      - '5598'
      Brightpearl-Requests-Remaining:
      - '199'
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":"CMNC-404","message":"No Product Prices Found"}]}'
  recorded_at: Fri, 28 Jan 2022 21:42:54 GMT
recorded_with: VCR 6.0.0
