---
http_interactions:
- request:
    method: get
    uri: https://ws-use.brightpearl.com/public-api/barulu/product-service/product-search?productName=Test%20Product
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - bulk-data-search
      Ruid:
      - 2f5ce4c6-a93e-400a-81ca-8794463a92ea
      Brightpearl-Installed-Integration-Instance-Id:
      - '11'
      Brightpearl-Next-Throttle-Period:
      - '10254'
      Brightpearl-Requests-Remaining:
      - '199'
    body:
      encoding: UTF-8
      string: '{"response":{"results":[[1494,"Anthony Test Product","ANTHONY123-BL-3","",null,null,null,null,true,"Brightpearl","2020-04-15T09:12:24.000-06:00","2020-04-22T09:31:39.000-06:00",300,200,77,3,"LIVE",366],[1495,"Bundle
        of 5 Anthony Test Products","BUNDLEANTHONY123","",null,null,null,null,false,"Brightpearl","2020-04-15T09:47:19.000-06:00","2020-04-15T09:48:36.000-06:00",300,null,77,3,"LIVE",366],[1496,"Anthony
        Test Product","ANTHONY123-BL-4","",null,null,null,null,true,"Brightpearl","2020-04-15T09:12:24.0[...]
