---
http_interactions:
- request:
    method: post
    uri: https://ws-use.brightpearl.com/public-api/barulu/product-service/product
    body:
      encoding: UTF-8
      string: '{"brandId":74,"financialDetails":{"taxable":true,"taxCode":{"id":2,"code":"T"}},"salesChannels":[{"salesChannelName":"Brightpearl","productName":"Test
        Product","categories":[{"categoryCode":296}]}]}'
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - post-product
      Ruid:
      - a734b34e-883c-40cc-8197-296c8fc650a1
      Brightpearl-Installed-Integration-Instance-Id:
      - '11'
      Brightpearl-Next-Throttle-Period:
      - '47798'
      Brightpearl-Requests-Remaining:
      - '199'
    body:
      encoding: UTF-8
      string: '{"response":1581}'
  recorded_at: Thu, 27 Jan 2022 22:51:12 GMT
- request:
    method: put
    uri: https://ws-use.brightpearl.com/public-api/barulu/product-service/product/1581
    body:
      encoding: UTF-8
      string: '{"salesChannels":[{"salesChannelName":"Brightpearl","productName":"Test
        Product Updated!"}]}'
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - put-product
      Ruid:
      - e1dc959e-ccb4-4842-9a0a-e1cd1ef0ffad
      Brightpearl-Installed-Integration-Instance-Id:
      - '11'
      Brightpearl-Next-Throttle-Period:
      - '47474'
      Brightpearl-Requests-Remaining:
      - '198'
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Thu, 27 Jan 2022 22:51:12 GMT
recorded_with: VCR 6.0.0
