---
http_interactions:
- request:
    method: options
    uri: https://ws-use.brightpearl.com/public-api/barulu/product-service/product/1-100,320,321
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - product-options
      Ruid:
      - 2c661b21-f0c3-4320-ad26-a25882ced5be
      Brightpearl-Installed-Integration-Instance-Id:
      - '11'
      Brightpearl-Next-Throttle-Period:
      - '14748'
      Brightpearl-Requests-Remaining:
      - '199'
    body:
      encoding: UTF-8
      string: '{"response":{"getUris":[]}}'
  recorded_at: Thu, 27 Jan 2022 22:52:45 GMT
recorded_with: VCR 6.0.0
