---
http_interactions:
- request:
    method: get
    uri: https://ws-use.brightpearl.com/public-api/barulu/product-service/product-price/1007
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - get-product-price
      Ruid:
      - 36bd1b23-4255-44a6-9a63-1b5f541c4842
      Brightpearl-Installed-Integration-Instance-Id:
      - '11'
      Brightpearl-Next-Throttle-Period:
      - '11778'
      Brightpearl-Requests-Remaining:
      - '199'
    body:
      encoding: UTF-8
      string: '{"response":[{"productId":1007,"priceLists":[{"priceListId":1,"currencyCode":"CRC","currencyId":5,"quantityPrice":{"1":"10.0000"}},{"priceListId":2,"currencyCode":"CRC","currencyId":5,"quantityPrice":{}},{"priceListId":3,"currencyCode":"CRC","currencyId":5,"quantityPrice":{}},{"priceListId":4,"currencyCode":"USD","currencyId":1,"quantityPrice":{}}]}]}'
  recorded_at: Fri, 28 Jan 2022 21:45:48 GMT
recorded_with: VCR 6.0.0
