---
http_interactions:
- request:
    method: post
    uri: https://euw1.brightpearlconnect.com/public-api/<DEV-REF>/accounting-service/customer-payment
    body:
      encoding: UTF-8
      string: '{"transactionRef":"RUBY-BP-RECEIPT-REF-0001","transactionCode":"RUBY-BP-RECEIPT-CODE-0001","paymentMethodCode":"PUNTOS","paymentType":"RECEIPT","orderId":1081505,"currencyIsoCode":"CRC","exchangeRate":1.0,"amountPaid":100.0,"paymentDate":"2026-04-17T10:00:00-06:00","journalRef":"ruby-brightpearl
        customer payment receipt test"}'
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - post-customer-payment
      Ruid:
      - 904876b7-8cbf-41cd-b144-75ddf37e74c5
      Brightpearl-Installed-Integration-Instance-Id:
      - '50'
      Brightpearl-Next-Throttle-Period:
      - '51219'
      Brightpearl-Requests-Remaining:
      - '197'
    body:
      encoding: UTF-8
      string: '{"response":935253}'
  recorded_at: Fri, 17 Apr 2026 17:32:08 GMT
recorded_with: VCR 6.3.1
