---
http_interactions:
- request:
    method: get
    uri: https://euw1.brightpearlconnect.com/public-api/unimart/contact-service/contact/151499/custom-field
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - get-custom-fields
      Ruid:
      - f7956dbf-f701-4add-9044-818b29466308
      Brightpearl-Installed-Integration-Instance-Id:
      - '34'
      Brightpearl-Next-Throttle-Period:
      - '30358'
      Brightpearl-Requests-Remaining:
      - '195'
    body:
      encoding: UTF-8
      string: '{"response":{"PCF_CODAE":1234567890}}'
  recorded_at: Thu, 28 Aug 2025 21:30:29 GMT
recorded_with: VCR 6.3.1
