---
http_interactions:
- request:
    method: delete
    uri: https://euw1.brightpearlconnect.com/public-api/unimart/integration-service/webhook/99999
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - delete-webhook
      Ruid:
      - b33fa6d8-f4f4-436f-91d3-86c94449ef10
      Brightpearl-Installed-Integration-Instance-Id:
      - '34'
      Brightpearl-Next-Throttle-Period:
      - '38160'
      Brightpearl-Requests-Remaining:
      - '194'
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"code":"CMNC-404","message":"Cannot find webhook: 99999"}]}'
  recorded_at: Mon, 03 Nov 2025 22:13:21 GMT
recorded_with: VCR 6.3.1
