---
http_interactions:
- request:
    method: post
    uri: https://euw1.brightpearlconnect.com/public-api/unimart/integration-service/webhook
    body:
      encoding: UTF-8
      string: '{"subscribeTo":"goods-in-note.created","httpMethod":"POST","uriTemplate":"https://example.com/endpoint/to/receive/webhooks","contentType":"application/json","idSetAccepted":true,"qualityOfService":1,"bodyTemplate":"{
        \"accountCode\": \"${account-code}\", \"resourceType\": \"${resource-type}\",
        \"id\": \"${resource-id}\", \"lifecycleEvent\": \"${lifecycle-event}\", \"fullEvent\":
        \"${full-event}\", \"raisedOn\": \"${raised-on}\", \"brightpearlVersion\":
        \"${brightpearl-version}\" }"}'
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - post-webhook
      Ruid:
      - e1fed71d-3574-4fff-be90-74e4f7ee4309
      Brightpearl-Installed-Integration-Instance-Id:
      - '34'
      Brightpearl-Next-Throttle-Period:
      - '48428'
      Brightpearl-Requests-Remaining:
      - '196'
    body:
      encoding: UTF-8
      string: '{"response":123}'
  recorded_at: Mon, 03 Nov 2025 22:13:11 GMT
- request:
    method: delete
    uri: https://euw1.brightpearlconnect.com/public-api/unimart/integration-service/webhook/123
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - webhook-delete
      Ruid:
      - 185425fa-73e6-4888-8a0b-172cf3989bdc
      Brightpearl-Installed-Integration-Instance-Id:
      - '34'
      Brightpearl-Next-Throttle-Period:
      - '47889'
      Brightpearl-Requests-Remaining:
      - '195'
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Mon, 03 Nov 2025 22:13:12 GMT
recorded_with: VCR 6.3.1
