---
http_interactions:
- request:
    method: patch
    uri: https://ws-use.brightpearl.com/public-api/barulu/order-service/order/516491/custom-field
    body:
      encoding: UTF-8
      string: '[{"op":"add","path":"/PCF_REICUOTA","value":{"id":137}}]'
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - patch-custom-fields
      Ruid:
      - ead53806-4f6d-4109-8be6-ab871a028d6a
      Brightpearl-Installed-Integration-Instance-Id:
      - '34'
      Brightpearl-Next-Throttle-Period:
      - '15054'
      Brightpearl-Requests-Remaining:
      - '197'
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"PCF_REICUOTA":{"id":137,"value":"FormularioBAC"},"PCF_ETAORIG":"2023-03-06
        17:22:26 -0600","PCF_ZONA":{"id":64,"value":"SJ.1"},"PCF_MENSAJER":"Pablo
        Pandilla  (GN#516491/01)","PCF_FECHADE":"2023-03-06 15:00:44 -0600 (GN#516491/01)","PCF_TEAM":"Team A"}}'
  recorded_at: Thu, 27 Mar 2025 23:24:45 GMT
recorded_with: VCR 6.0.0
