---
http_interactions:
- request:
    method: get
    uri: https://ws-use.brightpearl.com/public-api/barulu/product-service/product-search?SKU=XXX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - api-proxy
      Ruid:
      - 71828fe0-0aab-4f0b-9e4a-915c9c879c0d
      Brightpearl-Next-Throttle-Period:
      - '22833'
      Brightpearl-Requests-Remaining:
      - '199'
    body:
      encoding: UTF-8
      string: '{"response":"Invalid instance token: ueHd8764HcvzKsSIjo28RZna6+91EDDuYnF47kP1DCE\u003d"}'
  recorded_at: Mon, 26 Sep 2022 14:51:37 GMT
recorded_with: VCR 6.0.0
