---
http_interactions:
- request:
    method: get
    uri: https://euw1.brightpearlconnect.com/public-api/unimart/integration-service/webhook/99999
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - get-webhook
      Ruid:
      - b73dfabb-9e7d-40d8-b372-84c7505e61c4
      Brightpearl-Installed-Integration-Instance-Id:
      - '34'
      Brightpearl-Next-Throttle-Period:
      - '7845'
      Brightpearl-Requests-Remaining:
      - '199'
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"code":"CMNC-404","message":"No webhooks available in ID
        Set 99999"}]}'
  recorded_at: Mon, 03 Nov 2025 22:12:52 GMT
recorded_with: VCR 6.3.1
