---
http_interactions:
- request:
    method: post
    uri: https://euw1.brightpearlconnect.com/public-api/unimart/integration-service/webhook
    body:
      encoding: UTF-8
      string: '{"subscribeTo":"goods-in-note.created","httpMethod":"POST","uriTemplate":"https://example.com/endpoint/to/receive/webhooks","contentType":"application/json","idSetAccepted":true,"qualityOfService":1,"bodyTemplate":"{
        \"accountCode\": \"${account-code}\", \"resourceType\": \"${resource-type}\",
        \"id\": \"${resource-id}\", \"lifecycleEvent\": \"${lifecycle-event}\", \"fullEvent\":
        \"${full-event}\", \"raisedOn\": \"${raised-on}\", \"brightpearlVersion\":
        \"${brightpearl-version}\" }"}'
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - post-webhook
      Ruid:
      - 797f3497-205d-44d7-b83a-663ee24b8a4b
      Brightpearl-Installed-Integration-Instance-Id:
      - '34'
      Brightpearl-Next-Throttle-Period:
      - '10778'
      Brightpearl-Requests-Remaining:
      - '193'
    body:
      encoding: UTF-8
      string: '{"response":122}'
  recorded_at: Mon, 03 Nov 2025 22:08:49 GMT
- request:
    method: get
    uri: https://euw1.brightpearlconnect.com/public-api/unimart/integration-service/webhook/122
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - webhook-get
      Ruid:
      - e8e7c779-c91d-48c4-9e65-e8c2be6282f6
      Brightpearl-Installed-Integration-Instance-Id:
      - '34'
      Brightpearl-Next-Throttle-Period:
      - '10014'
      Brightpearl-Requests-Remaining:
      - '192'
    body:
      encoding: ASCII-8BIT
      string: '{"response":[{"id":122,"subscribeTo":"goods-in-note.created","httpMethod":"POST","uriTemplate":"https://example.com/endpoint/to/receive/webhooks","bodyTemplate":"{
        \"accountCode\": \"${account-code}\", \"resourceType\": \"${resource-type}\",
        \"id\": \"${resource-id}\", \"lifecycleEvent\": \"${lifecycle-event}\", \"fullEvent\":
        \"${full-event}\", \"raisedOn\": \"${raised-on}\", \"brightpearlVersion\":
        \"${brightpearl-version}\" }","contentType":"application/json","idSetAccepted":true,"qualityOfService":1}]}'
  recorded_at: Mon, 03 Nov 2025 22:08:50 GMT
- request:
    method: delete
    uri: https://euw1.brightpearlconnect.com/public-api/unimart/integration-service/webhook/122
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - webhook-delete
      Ruid:
      - 2645283a-2e8c-4cff-8d36-f51b8e968a04
      Brightpearl-Installed-Integration-Instance-Id:
      - '34'
      Brightpearl-Next-Throttle-Period:
      - '26818'
      Brightpearl-Requests-Remaining:
      - '188'
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Mon, 03 Nov 2025 22:09:33 GMT
recorded_with: VCR 6.3.1
