---
http_interactions:
- request:
    method: get
    uri: https://euw1.brightpearlconnect.com/public-api/unimart/contact-service/contact-search?primaryEmail=foo@business.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - bulk-data-search
      Ruid:
      - 9c358f22-7378-46a5-8bda-e66ad36883ee
      Brightpearl-Installed-Integration-Instance-Id:
      - '34'
      Brightpearl-Next-Throttle-Period:
      - '22011'
      Brightpearl-Requests-Remaining:
      - '196'
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"results":[[72433,"foo@business.com","","","TEST","Factura
        Business",false,"TEST COMPANY",false,true,"2022-05-17T16:34:07.000-06:00","2022-05-17T16:34:07.000-06:00",null,null,0,false,"+506
        2 812 1276","","","TEST COMPANY",null],[72435,"foo@business.com","","","TEST","Factura
        Business",false,"TEST COMPANY",false,true,"2022-05-17T16:42:09.000-06:00","2022-05-17T16:42:09.000-06:00",null,null,0,false,"88888899","","","TEST
        COMPANY",null]],"metaData":{"morePagesAvailable":false,"resultsAvailable":2,"resultsReturned":2,"firstResult":1,"lastResult":2,"columns":[{"name":"contactId","sortable":true,"filterable":true,"reportDataType":"IDSET","referenceData":[],"isFreeTextSearchable":false,"required":false},{"name":"primaryEmail","sortable":true,"filterable":true,"reportDataType":"SEARCH_STRING","referenceData":[],"isFreeTextSearchable":false,"required":false},{"name":"secondaryEmail","sortable":true,"filterable":true,"reportDataType":"SEARCH_STRING","referenceData":[],"isFreeTextSearchable":false,"required":false},{"name":"tertiaryEmail","sortable":true,"filterable":true,"reportDataType":"SEARCH_STRING","referenceData":[],"isFreeTextSearchable":false,"required":false},{"name":"firstName","s[...]
