---
http_interactions:
- request:
    method: get
    uri: https://euw1.brightpearlconnect.com/public-api/<DEV-REF>/accounting-service/customer-payment-search?orderId=1081505
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - bulk-data-search
      Ruid:
      - 461d827d-cd17-43f3-8f12-e8b9e479cfcd
      Brightpearl-Installed-Integration-Instance-Id:
      - '50'
      Brightpearl-Next-Throttle-Period:
      - '50844'
      Brightpearl-Requests-Remaining:
      - '196'
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"results":[[935253,"RUBY-BP-RECEIPT-REF-0001","RUBY-BP-RECEIPT-CODE-0001","PUNTOS","RECEIPT",1081505,2,"CRC","0.00","100.00",null,"2026-04-17T10:00:00.000-06:00","2026-04-17T11:32:08.000-06:00",3113824]],"metaData":{"morePagesAvailable":false,"resultsAvailable":1,"resultsReturned":1,"firstResult":1,"lastResult":1,"columns":[{"name":"paymentId","sortable":true,"filterable":true,"reportDataType":"IDSET","referenceData":[],"isFreeTextSearchable":false,"required":false},{"name":"transactionRef","sortable":false,"filterable":true,"reportDataType":"STRING","referenceData":[],"isFreeTextSearchable":false,"required":false},{"name":"transactionCode","sortable":false,"filterable":true,"reportDataType":"STRING","referenceData":[],"isFreeTextSearchable":false,"required":false},{"name":"paymentMethodCode","sortable":false,"filterable":true,"reportDataType":"STRING","referenceData":[],"isFreeTextSearchable":false,"required":false},{"name":"paymentType","sortable":[...]
