---
http_interactions:
- request:
    method: patch
    uri: https://euw1.brightpearlconnect.com/public-api/unimart/contact-service/contact/151499/custom-field
    body:
      encoding: UTF-8
      string: '[{"op":"add","path":"/PCF_CODAE","value":"1234567890"}]'
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - patch-custom-fields
      Ruid:
      - d5451f4e-828c-4620-9241-c4580abfdd1b
      Brightpearl-Installed-Integration-Instance-Id:
      - '34'
      Brightpearl-Next-Throttle-Period:
      - '29757'
      Brightpearl-Requests-Remaining:
      - '194'
    body:
      encoding: UTF-8
      string: '{"response":{"PCF_CODAE":1234567890}}'
  recorded_at: Thu, 28 Aug 2025 21:30:30 GMT
recorded_with: VCR 6.3.1
