---
http_interactions:
- request:
    method: get
    uri: https://euw1.brightpearlconnect.com/public-api/unimart/warehouse-service/order/*/goods-note/goods-out/12447605
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Brightpearl-App-Ref:
      - "<APP-REF>"
      Brightpearl-Dev-Ref:
      - "<DEV-REF>"
      Authorization:
      - "<Bearer TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Message-Type:
      - get-goods-out-note
      Ruid:
      - de4756f5-c945-4337-90af-ebafa9746e64
      Brightpearl-Installed-Integration-Instance-Id:
      - '34'
      Brightpearl-Next-Throttle-Period:
      - '811'
      Brightpearl-Requests-Remaining:
      - '188'
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"12447605":{"orderId":988116,"warehouseId":2,"transfer":false,"priority":false,"status":{"shipped":true,"packed":true,"picked":true,"printed":true,"pickedOn":"2025-11-04T10:41:38.000-06:00","packedOn":"2025-11-04T10:41:38.000-06:00","shippedOn":"2025-11-04T10:41:38.000-06:00","printedOn":"2025-11-04T10:41:38.000-06:00","pickedById":4,"packedById":4,"shippedById":4,"printedById":4},"shipping":{"reference":"","shippingMethodId":49},"releaseDate":"2025-11-04T10:17:45.000-06:00","createdOn":"2025-11-04T10:17:45.000-06:00","createdBy":203,"orderRows":{"2975385":[{"productId":489065,"quantity":1,"locationId":2}],"2975384":[{"productId":498969,"quantity":1,"locationId":2}],"2975387":[{"productId":506939,"quantity":1,"locationId":2}],"2975386":[{"productId":497476,"quantity":1,"locationId":2}]},"sequence":1,"events":[{"occured":"2025-11-04T10:17:45.000-06:00","eventOwnerId":203,"eventCode":"PLA"},{"occured":"2025-11-04T10:41:38.000-06:00","eventOwnerId":4,"eventCode":"SHW"},{"occured":"2025-11-04T10:41:38.000-06:00","eventOwnerId":4,"eventCode":"PRI"},{"occured":"2025-11-04T10:41:38.000-06:00","eventOwnerId":4,"eventCode":"PIC"},{"occured":"2025-11-04T10:41:38.000-06:00","eventOwnerId":4,"eventCode":"PAC"}],"lastEventVersion":3131069}}}'
  recorded_at: Wed, 05 Nov 2025 21:38:59 GMT
recorded_with: VCR 6.3.1
